:root {
    --gold-line: linear-gradient(#fdc98d, #915d3a);
}

body {
    background: #eeeeee;
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
}

#main {
    width: 90%;
    height: auto;
    min-height: 500px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 200px;
    background: #000000;
    border-top: 5px #fdc98d solid;
    border-bottom: 5px #fdc98d solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
#logoHead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
#title {
    width: 100%;
    order: 1;
    color: #ffffff;
    font-family: Constantia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    order: 2;
    height: 100%;
}

#logo>img {
    padding-top: 20px;
    height: 80%;
    float:right;
}

h1 { 
    font-size: 48px;
    margin: 0;
    color: #ffffff;
}

h2 { 
    margin: 0;
    font-size: 32px;
    font-weight: normal;
}



nav { 
    order: 2;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 14px;
 }

 nav>ul>li {
    list-style-type: none;
    padding: 0 10px;
 }

 nav>ul {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
 }

 nav a {
     color: #ffffff;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 600;
 }

 nav a:hover {
     color: #fdc98d;
     border-bottom: #fdc98d 3px solid;
 }